@import "lesshat.less";

@logoColor: #c03712;
@fgColor: #414141;
@borderColor: #efefef;
@fgPink: #D85343;

body{
	color: @fgColor;
	text-align: left;
	padding-top: 100px;

	.navbar-default{
		z-index: 99999;
	}

	.logo{
		width: 600px;
		height: 600px;
	}
	a{
		color: @logoColor;
		&:hover{
			color: lighten(@logoColor,10%);
		}
	}
	h1{
		font-size: 4em;
	}

	#selected-num{
		padding-top: 10px;
		h2{
 			color: @fgPink;
			font-size: 72px;
			display: inline-block;
		}
		span{
			display: inline-block;
		}
		strong{
			color: @fgPink;
		}
	}

	.photos{
		margin-top: 20px;
		li{
			border: 3px solid transparent;
			display: inline-block;
			height: 200px;
			list-style: none;
			margin: 5px;
			overflow: hidden;
			position: relative;
			width: 190px;
			&.chosen{
				border: 3px solid @fgPink;
				.choice-indicator{
					display: block;
				}
			}
			.choice-indicator{
				background: @fgPink;
				color: #fff;
				display: none;
				height: 34px;
				position: absolute;
				right: 0;
				top: 0;
				width: 34px;
				z-index: 999;
				font-size: 24px;
				text-align: center;
				line-height: 34px;
			}
			img{
				max-height: 300px;
				max-width: 400px;
				position: absolute;
				top: 0;
			}
			.view-full{
				background: fade(black,50%);
				border-top: 1px solid fade(white,40%);
				bottom: 0;
				height: 30px;
				left: 0;
				opacity: 0;
				position: absolute;
				right: 0;
				text-align: center;
				&:hover{
					background: fade(black,60%);
				}
			}
			a.view-full-link{
				color: #fff;
				display: block;
				font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
				line-height: 27px;
				text-decoration: none;
			}
			&:hover{
				background: #fff;
				.view-full{
					opacity: 1;
				}
			}
		}
	}


	header{
		height: auto;
		width: 100%;
		.logo{
			float: left;
			height: 60px;
			margin: 10px 40px;
			width: 160px;
		}
		.fb-btn{
			margin-top:10px;
		}
		.progress{
			.transition(opacity 0.2s ease-in-out);
			display: none;
			opacity: 0;
		}
	}

	.list-group{
		margin-bottom: 100px;
		.list-group-item{
			padding: 30px 15px;
			.albumItems{
				display: none;
			}
			&:before{
				.transition(all 0.2s ease-in-out);
				float: right;
			}
			&.open{
				&:before{
					.rotate(90deg);
				}
			}
		}
	}


	.btn-primary:hover{
		background-color: #cb210e;
	}

	.btn-default:hover{
		background-color: #3f4141;
	}

	#album-selection{
		text-align: left;
	}
	#album-selection-buttons{
		padding-top: 45px;
		text-align: right;
	}

	#album-preview{
		&.template-1{
			background: url(/images/giftly.png) 0 0 repeat;
			li{
				background: fade(white,60%);
				list-style: none;
				margin: 20px auto;
				padding: 40px 20px;
				width: 80%;
				img {
					display: block;
					margin: 20px auto;
					max-width: 90%;
					vertical-align: middle;
				}
			}
		}
		&.template-2{
			background: url(/images/food.png) 0 0 repeat;
			li{
				background: fade(white,60%);
				list-style: none;
				margin: 17px;
				padding: 40px 20px;
				width: 47%;
				float: left;
				img {
					display: block;
					margin: 20px auto;
					max-width: 90%;
					vertical-align: middle;
				}
			}
		}
	}


	footer{
		border-top: 1px solid @borderColor;
		padding: 20px;
		text-align: center;
		a{
			color: @fgColor;
			&:hover{
				color: lighten(@fgColor,20%);
			}
		}
	}

	.stick-body{
		background: #FCFCFC;
		z-index: 9999;
	}

	.container{
		// height: 100%;
		&.body-container{
			&.has-sticky{
				padding-top: 130px;
			}
		}

		#start{
			text-align: center;
			button.btn-facebook{
				margin-top:30px;
				margin-bottom: 100px;
				.fa{
					font-size: 28px;
					position: relative;
					top: 3px;
					left: -3px;
				}
			}
		}
	}
}

button.btn-facebook{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b4b90;
  *background-color: #133783;
  background-image: -moz-linear-gradient(top, #3b5998, #133783);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
  background-image: -webkit-linear-gradient(top, #3b5998, #133783);
  background-image: -o-linear-gradient(top, #3b5998, #133783);
  background-image: linear-gradient(to bottom, #3b5998, #133783);
  background-repeat: repeat-x;
  border-color: #133783 #133783 #091b40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

button.btn-facebook:hover,
button.btn-facebook:focus,
button.btn-facebook:active,
button.btn-facebook.active,
button.btn-facebook.disabled,
button.btn-facebook[disabled] {
  color: #ffffff;
  background-color: #133783;
  *background-color: #102e6d;
}

button.btn-facebook:active,
button.btn-facebook.active {
  background-color: #0d2456 \9;
}
button.btn-xlarge {
	padding: 14px 26px;
	font-size: 21.5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}