<div class="page-header">
    <div class="row">
      <div class="col-lg-12" id="flipbook-wrapper">
      <div id="flipbook">


        <div class="container">
          <div class="bb-custom-wrapper">

            <div id="bb-bookblock" class="bb-bookblock">
              <div class="bb-item">
                <div class="bb-custom-firstpage">
                  <h1>Our Family Album</h1>
                </div>
                <div class="bb-custom-side">
                </div>
              </div>
            </div>

            <nav>
              <a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
              <a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
              <a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
              <a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
            </nav>

          </div>

        </div><!-- /container -->

      </div>
      </div>
    </div>
  </div>