  <div class="page-header" id="banner">
    <div class="row">
      <div id="albums-title">
        <div class="col-lg-6 col-md-7 col-sm-6">
            <h1>Prepare Your Album</h1>
            <p class="lead">Choose the ones you want to print</p>
        </div>
        <div class="col-lg-2">
          <div id="selected-num">
            <h2><span>0</span></h2>
            <span>Selected <br/>Photos <br/><strong>Out of 60</strong></span>
          </div>
        </div>
        <div class="col-lg-4" id="album-selection-buttons">
          <a href="/keepit/" class="btn btn-default btn-lg" id="btn-cancel">Back To Photos</a>
          <a href="/keepit/prepare" class="btn btn-primary btn-lg" id="btn-prepare">Download a PDF</a>
        </div>
      </div>
      <div class="col-lg-12" id="album-preview">
              <div class="list-group">
              </div>
            <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">
              &lt; &gt;
            </div>
      </div>
    </div>
  </div>